body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image:url(BUSbook.webp);
   
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    width: 1400px;
    height: 700px;
}

.booking-form, .booking-details {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.booking-form h2, .booking-details h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem 0 0.2rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.7rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}